/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
#content ul li {
  list-style-Type: none;
  padding: 0 0 4px 23px;
  background: none;
}

ol.style1 {
  list-style-type: none; 
  counter-reset: item;
}
ol li {
  counter-increment: item; 
  margin: 5px 0;
}
ol li::before {
  content: counter(item) ") "; 
  font-weight: bold; 
  margin-right: 5px;
}

ol.style2 {
  list-style-type: none; 
  padding-left: 0; 
  counter-reset: item; 
}
ol li {
  counter-increment: item; 
  margin: 5px 0;
}
ol li::before {
  content: counter('-') ") "; 
  color:black;
  font-weight: lighter; 
  margin-right: 5px;
}